﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}




html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main{
    width:80%;
    margin-left:10%;
    margin-top:40px;
    
}

.content {
    width: 80%;
    float: left;
    display:block;
}

.rightSidebar{
    margin-top:30px;
    margin-left:20px;
    width:13%;
    float:right;
    position:sticky;
   
}

.elem {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    display:block;
    font-style: italic;
    color: black;
}
.elem:hover {
     cursor: pointer;
     color: black;
     text-decoration: none;
}

.item {
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height:250px;
    padding-top:20px;
    padding-left:20px;
}

.item:hover{
    cursor:pointer;
}

.itemImage{
    width:150px;
    height:200px;
    float:left;
    margin-right:30px;
    margin-bottom:30px;
    background-color: teal;
}


.itemAuthor{
    font-size:12px;
    color:slategray;
    font-family:cursive;
}

.itemDate {
    font-size: 12px;
    color: slategray;
    font-family: cursive;
}

.form {
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.comment {
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top:20px;
}

.itemDesc{
    padding-right:10px;
}

.foo {
    padding-top: 20px;
    margin-top: 100px;
    height: 140px;
    background-color: rgb(240, 240, 240);
    color: black;
    text-align: center;
    width: 100%;
}

.footerMail{
    font-size:12px;
    font-family:cursive;
}

.inputbtn{
    border-radius:10px;
}

.FormBlank {
    margin-bottom: 220px;
}

.up:hover{
    cursor:pointer;
}

@media (max-width: 1050px){
    .item {
        height: 300px; 
    }
}

@media (max-width: 850px) {
    .item {
        height: 400px;
    }
}

@media (max-width: 650px) {
    .item {
        height: 450px;
    }
}



