﻿
@{
    ViewBag.Title = "FormResult";
}

<div class="content">
    <div class="comment">
        <p>Your name: @ViewBag.name</p>
        <p>Your surname: @ViewBag.surname</p>
        <p>Your gender: @ViewBag.radio</p>
        <p>Your mark: @ViewBag.opt</p>
        <p>You description @ViewBag.txt</p>
        <p>Did you agree to policy: @ViewBag.check</p>
    </div>
</div>
