﻿@{
    ViewBag.Title = "Main";
}

<div class="content">
      <div class="item">
            <img class="itemImage" />
            <h3 class="itemHeader">Harry Potter and the Philosopher's Stone</h3>
            <h6 class="itemAuthor">J.K Rowling</h6>
            <p class="itemDate">12.12.2003</p>
            <p class="itemDesc">
                Harry Potter is midway through his training as a wizard and his coming of age.
                Harry wants to get away from the pernicious Dursleys and go to the International Quidditch Cup.
                He wants to find out about the mysterious event that's
                supposed to take place at Hogwarts this year, an event involving
            </p>
      </div>

        <div class="item">
            <img class="itemImage" />
            <h3 class="itemHeader">Harry Potter and the Chamber of Secrets</h3>
            <h6 class="itemAuthor">J.K Rowling</h6>
            <p class="itemDate">12.12.2003</p>
            <p class="itemDesc">
                Harry Potter is midway through his training as a wizard and his coming of age.
                Harry wants to get away from the pernicious Dursleys and go to the International Quidditch Cup.
                He wants to find out about the mysterious event that's
                supposed to take place at Hogwarts this year, an event involving
            </p>
        </div>
        <div class="item">
            <img class="itemImage" />
            <h3 class="itemHeader">Harry Potter and the Prisoner of Azkaban</h3>
            <h6 class="itemAuthor">J.K Rowling</h6>
            <p class="itemDate">12.12.2003</p>
            <p class="itemDesc">
                Harry Potter is midway through his training as a wizard and his coming of age.
                Harry wants to get away from the pernicious Dursleys and go to the International Quidditch Cup.
                He wants to find out about the mysterious event that's
                supposed to take place at Hogwarts this year, an event involving
            </p>
        </div>
        <div class="item">
            <img class="itemImage" />
            <h3 class="itemHeader">Harry Potter: Goblet of fire</h3>
            <h6 class="itemAuthor">J.K Rowling</h6>
            <p class="itemDate">12.12.2003</p>
            <p class="itemDesc">
                Harry Potter is midway through his training as a wizard and his coming of age.
                Harry wants to get away from the pernicious Dursleys and go to the International Quidditch Cup.
                He wants to find out about the mysterious event that's
                supposed to take place at Hogwarts this year, an event involving
            </p>
        </div>
</div>




